:root {
    /* variables for colors */
    /* light theme */
    --bg-color: #FFFFFF;
    --bg-color-intro: #0B132B;
    --bg-color-slogan: #ECDCBB;
    --bg-color-aboutus: #ECDCBB;
    --bg-color-offer: #0B132B;
    --bg-color-footer: #FFFFFF;
    --p--color-light:  #EBEAE8;
    --p--color-dark:  #0B132B;
    --p--color-footer:  #000000;
}
0B132B

/*global styling*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /*font-family: 'InriaSerif-Regular';*/
    background-color: var(--bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    }

.intro {
    height: 100vh;
    height: 100svh;
    background-color: var(--bg-color-intro);
    background-image: url("bg_img_intro.gif");
    color: var(--p-color-light);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.intro_adjectiv{
    display: inline-block;
}


.slogan {
    height: 50vh;
    height: 50svh;
    background-color: var(--bg-color-slogan);
    color: var(--p-color-dark);
}

.aboutus {
    height: 75vh;
    height: 75svh;
    background-color: var(--bg-color-aboutus);
    color: var(--p-color-dark);
}

.gallery {
    height: 75vh;
    height: 75svh;
}
.gallery_img {
    max-height: 75vh;
    max-height: 75svh;
}

.offer {
    height: 75vh;
    height: 75svh;
    background-color: var(--bg-color-offer);
    color: var(--p-color-light);
}

.footer {
    height: 75vh;
    height: 75svh;
    background-color: var(--bg-color-footer);
    color: var(--p-color-footer);
}
