/* variables for colors */
:root {
    /* light theme */
    --bg-color: #FFFFFF;
    --bg-color-intro: #0B132B;
    --bg-color-slogan: #ECDCBB;
    --bg-color-aboutus: #ECDCBB;
    --bg-color-offer: #0B132B;
    --bg-color-footer: #FFFFFF;
    --p-color-light:  #EBEAE8;
    --p-color-dark:  #0B132B;
    --p-color-footer:  #000000;
	/*Font sizes*/
--fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
--fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
--fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
--fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
--fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
--fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
--fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
}



/*global styling*/
body, html {
	    /*height: 100%;*/
	    background-color: var(--bg-color);
	    overflow-x: hidden;
	    scroll-behavior: smooth;
	    font-family: "Quattrocento";
			font-size: var(--fs-base);
		  width: 100%;
	 		margin: 0 auto;
	 	 padding: 0; 
    }

/*font-fams*/    
/* Define regular font style */
@font-face {
    font-family: 'Quattrocento';
    src: url('./fonts/Quattrocento-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('./fonts/Quattrocento-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Customizing*/

.nav_button{
	display: None;
}

.intro {
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--bg-color-intro);
    background-image: url("./images/bg_img_intro.png");
background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    color: var(--p-color-light);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
	background-attachment: fixed;
}
.logo_intro{
	width: 100%;
  height: auto;
	max-width: 500px;
	
}
.intro_adjectives{
	position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8em;
    margin: 3em 0 3em 0;
}

.intro_adjectives::after {
  content: "";
  position: absolute;
  bottom: 0;               
  left: 50%;
  height: 1px;          
  width: 0;             
  background-color: var(--p-color-light);
  transform: translateX(-50%); 
  transition: width 1.5s ease-out; 
}

.intro_adjectives.animate::after {
  width: 100%;
}


.adress_intro{
    text-align: center;
}

.slogan {
    min-height: 50vh;
    min-height: 50svh;
    background-color: var(--bg-color-slogan);
    color: var(--p-color-dark);
    display: flex;
	align-items: center;
}

.slogan_text{
	margin: 0 2em 0 2em;
    font-size: var(--fs-xxl);
}

.aboutus {
    min-height: 80vh;
    min-height: 80svh;
    padding: 2em 0 2em 0;
    background-color: var(--bg-color-aboutus);
    color: var(--p-color-dark);
    display: flex;
    flex-direction: row;
align-items: center;
}

.aboutus_img_container {
  height: 25em;
  width: 100%;
  overflow: hidden;
}

.aboutus_img_container img {
  transition: transform 2s ease-in-out;
  transform: scale(1.2);
  transform-origin: 0 0;
}

.aboutus_texts{
    margin-left: 6em;
    margin-right: 12em;
}

.aboutus_title{
    font-size: var(--fs-xl);
	text-wrap: nowrap
}

.aboutus_header {
    font-family: "Lato";
    font-weight: 500;
    font-size: var(--fs-md);
    margin-top: 2em;
}

.aboutus_text {
    font-family: "Lato";
    font-size: var(--fs-base);
	margin: 2em 0 2em 0;
    line-height: 180%;
}

.aboutus_button {
  position: relative;
  display: block;
  margin: 4em 0 0 0;
  border: 2px solid var(--bg-color-intro);
  padding: 0.5em 1em 0.5em 1em;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 1;
  width: fit-content; 
}

.aboutus_button::before {
  background: var(--bg-color-intro);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0%;
  height: 100%;
}

.aboutus_button:hover::before {
  width: 100%;
}

.aboutus_button a {
  color: var(--p-color-dark);
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.aboutus_button:hover a {
  color: var(--p-color-light); 
}

.gallery_wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.gallery {
  position: relative; 
  min-height: 85vh;
  min-height: 85svh;
  font-size: 0;
	 display: flex;
	animation: scrollGallery 10s linear infinite;
}

.gallery_wrapper::after{
content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 25%;
  background-color: var(--bg-color-offer);
  border-top-left-radius: 95% 100%;
  border-top-right-radius: 95% 100%;
  z-index: 2;
pointer-events: none;
	cursor: pointer;
}

.gallery-wrapper:hover {
  animation-play-state: paused;
}

.gallery_img {
    min-height: 85vh;
    min-height: 85svh;
 		flex-shrink: 0;
 		object-fit: cover;
	max-width: 40%
}

@keyframes scrollGallery {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.offer {
    min-height: 75vh;
    min-height: 75svh;
    background-color: var(--bg-color-offer);
    color: var(--p-color-light);
    display: flex;
	position: relative;
}

.offer_right {
    margin: 0em 14em 12em 6em;
}
.offer_left {
    margin: 0em 6em 12em 14em;
}

.offer_title{
    font-size: var(--fs-xl);
	margin-bottom: 2em;
	text-wrap: nowrap;
}

.offer_Title > p{
	margin: 0;
}
.offer_text {
		font-family: "Lato";
		line-height: 180%;
	text-wrap: balance;
}

.offer_button {
  position: relative;
  display: block;
  margin: 2em 0 0 0;
  border: 2px solid var(--bg-color-slogan);
  padding: 0.5em 1em 0.5em 1em;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 1;
  width: fit-content; 
}

.offer_button::before {
  background: var(--bg-color-slogan);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0%;
  height: 100%;
}

.offer_button:hover::before {
  width: 100%;
}

.offer_button a {
  color: var(--p-color-light);
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.offer_button:hover a {
  color: var(--p-color-dark); 
}

.flower_crop{
	height: auto;
	  width: auto;
	  position: absolute;
	  bottom: 0;
	  right: 5em;
}





.footer {
	height: 75vh;
	height: 75svh;
	background-color: var(--bg-color-footer);
	color: var(--p-color-footer);
}
#fb1{
	margin-right: 4em;
}	
.footer a:link{
	color: var(--p-color-dark);
	text-decoration: none; 
}
.footer a:visited{
	color: var(--p-color-dark);
	text-decoration: none; 
}
.footer a:active{
	color: var(--p-color-dark);
	text-decoration: none; 
}

.footer_logo_container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.footer_logo_container::before,
.footer_logo_container::after {
  content: "";
  position: absolute;
  top: 50%;               
  width: 25%;             
  height: 1px;
  background-color: var(--p-color-dark); 
transform: scaleX(0);
}

.footer_logo_container::before {
  left: 12em;
	 transform-origin: right;
}

.footer_logo_container::after {
  right: 12em;  
	 transform-origin: left;
}

.footer_logo_container.animate::before,
.footer_logo_container.animate::after {
  transform: scaleX(1);
  transition: transform 1s ease-out;
}

.footer_logo{
	display: block;
    margin: auto;
}

.footer_logo::after{
    content: "";
    background-color: #1C0F14;
    position:absolute;
    width: 1px;
    z-index:-1;
}

.footer_title {
	font-weight: bold;
}

.footer_text_contents{
	  margin: 2em 12em 2em 12em;
	  display: grid;
	  grid-auto-flow: column;
		grid-template-columns: 2fr 1fr 1fr;
}

.footer_text {
    font-family: "Lato";
		line-height: 180%;
}
.footer_times{
	text-wrap: nowrap;
}

.footer_small_links {
	position: relative;
	/*border-top: 1px solid #1C0F14;*/
	padding-top: 1em;
	display: flex;
  justify-content: space-between;
  flex-direction: row;
	margin: 0 12em 4em 12em;
}

.footer_small_links::after {
  content: "";
  position: absolute;
  top: 0;               /* Linie oben innerhalb des Containers */
  left: 50%;
  height: 1px;          /* Linie entspricht bisheriger border-top-Dicke */
  width: 0;             /* Startbreite 0 */
  background-color: #1C0F14;
  transform: translateX(-50%); /* Zentrale Ausrichtung */
  transition: width 2.5s ease-out; /* Übergangseffekt */
}

.footer_small_links.animate::after {
  width: 100%;
}

.icon_group{
	display: flex;
	gap: 1em;
}

.footer_icon {
	transition: all .2s ease-in-out;
}

.footer_icon:hover {
  transform: scale(1.2);
}

.footer_links_text{
display: flex;
gap: 4em;
}

.footer_link a{
	color: var(--p-color-dark);
}

.footer_link a:hover {
	font-weight: 500;
	color: var(--bg-color-aboutus);
}

.footer_link a:visited {
	color: var(--p-color-dark);
}

.footer_contacts a{
	color: var(--p-color-dark);
  line-height: 180%;
  text-decoration-color: --bg-color-offer;
}


/*impressum*/
.impressum{
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--bg-color-footer);
	margin-left: 15vw;
  margin-right: 15vw;
	display: flex;
  flex-direction: column;
}

.i_logo_container{
	margin-top: 4em;
}
.i_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.i_title{
	margin-top: 1em;
	font-size: var(--fs-xl);
}

.i_subtitle{
font-weight: bold;
	margin: 1em 0 0.5em 0;
}

.text{
	line-height: 150%
}
.i_footer_small_links {
	border-top: 1px solid #1C0F14;
	padding-top: 1em;
	display: flex;
	  justify-content: space-between;
	  flex-direction: row;
	margin: 0 12em 4em 12em;
}

/*Mobile querries*/
@media screen and (max-width: 850px) {
  .no_mobile {
    display: none !important;
  }
	.navbar{
		display: none;
	}
	.logo_intro{
		max-width: 60vw;
	}
	.intro_adjectives{
		gap: 1em;
	}
	.slogan{
		min-height: unset;
		max-height: fit-content;
	}
	.slogan_text{
		margin: 1em;
		text-wrap: balance;
		font-size: var(--fs-md);
	}
	.half_cirlce_container{
		background-color: var(--bg-color-slogan);
		height: 3em;
	}
	.half_circle{
		  position: relative;
		  left: -10%;
		  width: 120%;
		  height: 100%;
		  background-color: var(--bg-color-offer);
		  border-top-left-radius: 95% 100%;
		  border-top-right-radius: 95% 100%;
	}
	.aboutus{
		flex-direction: column;
		padding: 0 0 2em 0;
		position: relative;
	}
	.aboutus_img{
		max-width: 100%;
		height: auto;
	}
	.aboutus_img_container img {
	transition: none !important;
	}
	.aboutus_texts{
		margin: 1em;
	}
	.aboutus_button{
		margin: auto;
	}
	.offer{
		flex-direction: column;
	}
	.offer_right, .offer_left {
		margin: 2em;
	}
	.flower_crop {
	  height: 10%;
	  width: auto;
	  position: absolute;
	  bottom: -2em;
	  right: 1em;
	}
	.footer_logo{
		width: 60vw;
	}
	.footer_logo_container::after, .footer_logo_container::before{
		content: none;
	}
	.footer_text_contents{
		display: flex;
		flex-direction: column;
		margin: 2em
	}
	.footer_small_links {
		margin: 2em;
	}
	.footer_links_text{
		gap: 1em;
	}
}
@media (min-width:851px) and (max-width:1500px) {
	  .no_tablet {
	    display: none !important;
	  }
	.aboutus_img{
		max-width: 50vw;
		height: auto;
	}
	.offer_right {
	    margin: 0 5em 0 5em;
	}
	.offer_left {
	    margin: 0 5em 0 5em;
	}
	.offer_button {
		margin: 2em 0 2em 0;
	}
	.footer_logo_container::after, .footer_logo_container::before{
	content: none;
	}
	.footer_small_links{
		margin: 0 5em 4em 5em;
	}
	.footer_text_contents {
  	margin: 2em 5em 2em 5em;
	}
}
